<!DOCTYPE HTML>
{% extends "base.html" %}

{% block content %}
    <h1>Here are files to ingest:</h1>
    <form action='' method='post'>
    	<!-- {{ form.csrf_token }} -->
    	{{ form.hidden_tag() }}
	    {% for path,object in objects.items() %}
	    <div>
	    	<p>
	    		<p>{{form.runIngest}} {{object}}</p>
	    		<p>
		    		Options:<br>
		    		{{form.doProres.label}}{{form.doProres}}
		    		{{form.proresToDave.label}}{{form.proresToDave}}
		    		{{form.doConcat.label}}{{form.doConcat}}
				</p>
	    	</p>
	    </div>
	    {% endfor %}
	</form>
{% endblock %}