{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_department %}
        Add Department
    {% else %}
        Edit Department
    {% endif %}
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        {% if add_department %}
            <h1>Add Department</h1>
        {% else %}
            <h1>Edit Department</h1>
        {% endif %}
        <br/>
        {{ wtf.quick_form(form) }}
        <br/>
        <a class="btn btn-primary" href="{{ url_for('admin.list_departments') }}" role="button">Cancel</a>
    </div>
</div>
{% endblock %}