<!DOCTYPE HTML>
<html>
	<head>
	  {% if title %}
	  <title>{{ title }}</title>
	  {% else %}
	  <title>EDITH</title>
	  {% endif %}
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	  <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='icons.css') }}">-->
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  <!-- <script src="{{ url_for('static', filename='iconwc.js') }}"></script>-->
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<div class="container topnav">
				<div class="navbar-header">
					<a class="navbar-brand topnav">HELLO, I'M EDITH</a>
				</div>
				<div class="nav navbar-nav navbar-right">
					<ul class="list-inline">
						{% if current_user.is_authenticated %}
							{% if current_user.is_admin %}
								<li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
								<li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>
							{% else %}
								<li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
							{% endif %}
							<li><a href="{{ url_for('ingest.ingest_stuff') }}">Ingest Stuff</a></li>
							<li><a href="{{ url_for('lto.lto_menu') }}">LTO Stuff</a></li>
							<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
							<li><a><i class="fa fa-user"></i>  Hi, {{ current_user.first_name }}!</a></li>
						{% else %}
							<li><a href="{{ url_for('auth.login') }}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		<div class="container my-1">
			<!-- {% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %} -->
  			{% block content %}
  			<!-- DYNAMIC STUFF GOES HERE -->
  			{% endblock %}
		</div>
		
	</body>
</html>
