{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
	<h1>Here are files to ingest:</h1>
	<form action="{{ url_for('ingest.status') }}" method='POST'>
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		
		{% for item,vals in form.suchChoices.items() %}
		<div class ="card text-light bg-secondary m-1">
		<div class="form-group m-1">
			{% for field in vals %}
				{{ macros.render_field(field,vals.targetBase.data) }}
			{% endfor %}
		</div>
		</div>
		{%endfor%}

	{{ form.user.label }}{{ form.user() }}<br>
	{{ form.submit() }}
	</form>
{% endblock %}
