
{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
	<!--<button type="button" class="btn btn-primary-md"><div><svg-icon class="glyph-icon"><src href="{{ url_for('static', filename='si-glyph-arrow-reload.svg') }}"/></svg></div></button>-->
	<a class="btn btn-primary" href="{{ url_for('ingest.edith') }}" role="button">REFRESH PAGE</a>
	<h1>Here are assets ready to ingest:</h1>
	<form action="{{ url_for('ingest.status') }}" method='POST'>
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		
		{% for item,vals in form.suchChoices.items() %}
		<div class ="card text-light bg-secondary m-1">
		<div class="form-group m-1">
			{% for field in vals %}
				{{ macros.render_field(field,vals.targetBase.data) }}
			{% endfor %}
		</div>
		</div>
		{%endfor%}

	{{ form.user.label }}{{ form.user() }}<br>
	{{ form.submit() }}
	</form>
{% endblock %}
