{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
	<h1>Here are Archival Information Packages to write to tape:</h1>
	<div class="card bg-info m3">
		<div class="card-header">Here is the space available on the mounted tapes:</div>
		<ul class="list-group list-group-flush">
			{% for tape, stats in spaceAvailable.items() %}
			
					<li class='list-group-item'>
						Space avalable on {{ tape }} tape : <b>{{ stats['spaceAvailableHuman'] }}</b>
					</li>
			{% endfor %}
		</ul>
	</div>
	<br>
	<br>
	<form action="{{ url_for('lto.write_status') }}" method='POST'>
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		
		{% for item,vals in form.suchChoices.items() %}
		<div class="card border-primary m-1">
				{% for field in vals %}
					{{ macros.render_field(field,vals.targetBase.data) }}
				{% endfor %}
		</div>
		{%endfor%}
	{{ form.user.label }}  {{ form.user() }}<br>
	{{ form.submit(class="btn btn-primary") }}
	</form>
{% endblock %}
