{% extends "base.html" %}

{% block content %}
	<h1>what do you want to do?</h1>
	<!-- 
	<div>
		create a new LTO id for new tapes:
		<a type="button" class="btn btn-info" href="/lto_id">LTO ID</button>
	</div>
	-->

	<div class="container">
		format new LTO tapes:
		<p>
			<a class="btn btn-danger" href="/format_lto">FORMAT LTO</a>
		</p>
	</div>

	<div class="container">
		mount the current, formatted LTO tapes:
		<p>
			<a class="btn btn-info" href="/mount_lto">MOUNT LTO</a>
		</p>
	</div>
	
	<div class="container">
		write AIP packages to mounted LTO tapes:
		<p>
			<a class="btn btn-info" href="/list_aips">WRITE LTO</a>
		</p>
	</div>
	
{% endblock %}
