{% import "bootstrap/wtf.html" as wtf %}
{% macro render_field(field, uniqueName) %}
{# http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/ #}

{# {% set content = caller(childfield="", uniqueName="", heading="") %} #}
{# the above should be a way to make the metadata fields render w/o repeating per category #}
{# but i couldn't get it to work/pass arguments to it. #}

{# set the dynamic field name that captures the unique name of an asset #}
{# so we can dynamically construct a form that returns values tied to each asset #}
{% set fieldName = [field.id,uniqueName]|join('-') %}

{% if field.type == 'BooleanField' %}
	<div class="form-check">
		<label for="{{ field.id }}-{{ uniqueName}}">{{ field.label.text }}</label>
		<input name="{{ field.id }}-{{ uniqueName}}" id="{{ field.id }}-{{ uniqueName}}" type="checkbox" default=""/>
	</div>

{% elif field.type == 'SelectField'  %}
	{% if not field.name.startswith('metadataSource') %}
		<div class="form-group">
			<label for="{{ field.id }}-{{ uniqueName}}">{{ field.label.text }}</label>
			{{ field(id="{{ field.id }}-{{ uniqueName}}") }}
		</div>
	{% else %}
		
		<div class="form-group">
			<label for="{{ field.id }}-{{ uniqueName}}">{{ field.label.text }}</label>
			<p>{{ field.choices }}</p>
			<select class="custom-select" name="{{ field.id }}-{{ uniqueName}}" id="{{ field.id }}-{{ uniqueName}}">
				{% for _tuple in field.choices %}
					{% if not _tuple[0] == "" %}
						<option value="{{ _tuple[0] }}">{{ _tuple[1] }}</option>
					{% else %}
						<option value=""/>
					{% endif %}
				{% endfor %}
			</select>
		</div>
	{% endif %}

{% elif field.type == 'QuerySelectField'  %}
	<div class="form-group">
		<label for="{{ field.id }}-{{ uniqueName}}">{{ field.label.text }}</label>
		{% set fieldName = [field.id,uniqueName]|join('-') %}
		{{ field(id=fieldName,class="custom-select") }}
	</div>

{% elif field.name == 'metadataForm'  %}
	<p>
		<button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#metadataGroup-{{ uniqueName }}" aria-expanded="false" aria-controls="metadataGroup-{{ uniqueName }}">
			ADD METADATA
		</button>
	</p>
	<div class="collapse" id="metadataGroup-{{ uniqueName }}">
		<div class="card card-body border-warning m-1">
			<div class="accordion" id="accordion-{{ uniqueName }}">
				<!--General metadata accordion section-->
				{% set heading = "General-metadata" %}
				<div class="card">
					<div class="card-header" id="{{ heading }}-{{ uniqueName }}">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ heading }}-{{ uniqueName }}" aria-expanded="true" aria-controls="collapse-{{ heading }}-{{ uniqueName }}">
								{{ heading.replace("-"," ") }}
							</button>
						</h5>
					</div>
					<div id="collapse-{{ heading }}-{{ uniqueName }}" class="collapse" aria-labelledby="{{ heading }}-{{ uniqueName }}" data-parent="#accordion-{{ uniqueName }}">
						<div class="card-body">
							{% for childfield in field %}
								{% if not 'csrf_token' in childfield.name %}
									{% if childfield.name.startswith('metadataForm-userMD_3') %}
											{% if childfield.type == "StringField" %}
												<div>
													<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">{{ childfield.label.text }}</label>
													<input class="form-control"  name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}" type="text" value="{{ childfield.data }}"/>
												</div>
											{% elif childfield.type == "SelectField" %}
												<div>
													<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">
														{{ childfield.label.text }}
													</label>
													<select class="custom-select" name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}">
													{% for _tuple in childfield.choices %}
														{% if not _tuple[0] == "" %}
															<option value="{{ _tuple[0] }}">{{ _tuple[1] }}</option>
														{% else %}
															<option value=""/>
														{% endif %}
													{% endfor %}
													</select>
												</div>
											{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

				<!--Event metadata accordion section-->
				{% set heading = "Event-metadata" %}
				<div class="card">
					<div class="card-header" id="{{ heading }}-{{ uniqueName }}">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ heading }}-{{ uniqueName }}" aria-expanded="true" aria-controls="collapse-{{ heading }}-{{ uniqueName }}">
								{{ heading.replace("-"," ") }}
							</button>
						</h5>
					</div>
					<div id="collapse-{{ heading }}-{{ uniqueName }}" class="collapse" aria-labelledby="{{ heading }}-{{ uniqueName }}" data-parent="#accordion-{{ uniqueName }}">
						<div class="card-body">
							{% for childfield in field %}
								{% if not 'csrf_token' in childfield.name %}
									{% if childfield.name.startswith('metadataForm-userMD_2') %}
										{% if childfield.type == "StringField" %}
											<div>
												<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">{{ childfield.label.text }}</label>
												<input class="form-control"  name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}" type="text" value="{{ childfield.data }}"/>
											</div>
										{% elif childfield.type == "SelectField" %}
											<div>
												<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">
													{{ childfield.label.text }}
												</label>
												<select class="custom-select" name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}">
												{% for _tuple in childfield.choices %}
													{% if not _tuple[0] == "" %}
														<option value="{{ _tuple[0] }}">{{ _tuple[1] }}</option>
													{% else %}
														<option value=""/>
													{% endif %}
												{% endfor %}
												</select>
											</div>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
				
				<!--Comms metadata accordion section-->
				{% set heading = "Comms-metadata" %}
				<div class="card">
					<div class="card-header" id="{{ heading }}-{{ uniqueName }}">
						<h5 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ heading }}-{{ uniqueName }}" aria-expanded="true" aria-controls="collapse-{{ heading }}-{{ uniqueName }}">
								{{ heading.replace("-"," ") }}
							</button>
						</h5>
					</div>
					<div id="collapse-{{ heading }}-{{ uniqueName }}" class="collapse" aria-labelledby="{{ heading }}-{{ uniqueName }}" data-parent="#accordion-{{ uniqueName }}">
						<div class="card-body">
							{% for childfield in field %}
								{% if not 'csrf_token' in childfield.name %}
									{% if childfield.name.startswith('metadataForm-userMD_1') %}
										{% if childfield.type == "StringField" %}
											<div>
												<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">{{ childfield.label.text }}</label>
												<input class="form-control"  name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}" type="text" value="{{ childfield.data }}"/>
											</div>
										{% elif childfield.type == "SelectField" %}
											<div>
												<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">
													{{ childfield.label.text }}
												</label>
												<select class="custom-select" name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}">
												{% for _tuple in childfield.choices %}
													{% if not _tuple[0] == "" %}
														<option value="{{ _tuple[0] }}">{{ _tuple[1] }}</option>
													{% else %}
														<option value=""/>
													{% endif %}
												{% endfor %}
												</select>
											</div>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% elif field.name == 'targetPath' %}
	<input name="{{ field.id }}-{{ uniqueName}}" id="{{ field.id }}-{{ uniqueName}}" type="hidden" value="{{ field.data }}"/>
{% elif field.name == 'targetBase' %}
	<div class="card-header"><label for="{{ field.id }}-{{ uniqueName}}">{{ uniqueName }}</label></div>
	<input name="{{ field.id }}-{{ uniqueName}}" id="{{ field.id }}-{{ uniqueName}}" type="hidden" value="{{ field.data }}"/>
{% elif field.name == 'aipHumanSize' %}
	<div class="card-body">
		<label for="{{ field.id }}-{{ uniqueName}}"><strong>Archival Package Size: {{ field.data }}</strong></label>
		<input name="{{ field.id }}-{{ uniqueName}}" id="{{ field.id }}-{{ uniqueName}}" type="hidden" value="{{ field.data }}"/>
	</div>
{% endif %}

{% endmacro %}

{#
{% call(childfield, uniqueName, heading) render_field("","") %}
<div class="card">
	<div class="card-header" id="{{ heading }}-{{ uniqueName }}">
		<h5 class="mb-0">
			<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				{{ heading }}
			</button>
		</h5>
	</div>
	<div id="collapse-{{ heading }}-{{ uniqueName }}" class="collapse show" aria-labelledby="{{ heading }}-{{ uniqueName }}" data-parent="#accordion-{{ uniqueName }}">
		<div class="card-body">
			{% if childfield.type == "StringField" %}
				<div>
					<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">{{ childfield.label.text }}</label>
					<input class="form-control"  name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}" type="text" value="{{ childfield.data }}"/>
				</div>
			{% elif childfield.type == "SelectField" %}
				<div>
					<label for="{{ childfield.id }}-{{ uniqueName }}" class="text-info">
						{{ childfield.label.text }}
					</label>
					<select class="custom-select" name="{{ childfield.id }}-{{ uniqueName }}" id="{{ childfield.id }}-{{ uniqueName }}">
					{% for _tuple in childfield.choices %}
						{% if not _tuple[0] == "" %}
							<option value="{{ _tuple[0] }}">{{ _tuple[1] }}</option>
						{% else %}
							<option value=""/>
						{% endif %}
					{% endfor %}
					</select>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endcall %}
#}
