{% extends "base.html" %}

{% block content %}
	<h1>Format LTO</h1>
	<div>
		<p>The current LTO ID in use is:<br>
			<b>{{ currentLTOid }}</b>
		</p>
	</div>
	<div>
		<p>If you have inserted blank tapes and need to create a new LTO tape ID,<br/>do it <a href="{{ url_for('lto.lto_id') }}">here</a>.</p>
	</div>

	<form action="{{ url_for('lto.format_status') }}" method='POST'>
		
		{{ formatForm.hidden_tag() }}
		{{ formatForm.csrf_token }}

		<div class="form-group">
			<h2>USE CAUTION! DON'T FORMAT EXISTING TAPES!!</h2>
			{{ formatForm.submit(class="btn btn-warning") }}
		</div>
	</form>



{% endblock %}
