{% extends "base.html" %}

{% block content %}
<div class="card">
	<div class="card-body">
	{% if not ltoIDstatus == False %}
		<h1 class="card-title">The new LTO tape ID is {{ ltoID }} </h1>
		<p class="card-text">You can go back to the <a href="{{ url_for('lto.lto_menu') }}">LTO menu</a> and do some other stuff if you want (like <a href="{{ url_for('lto.format_lto') }}">format</a> the LTO tapes).</p>

	{% else %}

		<p class="card-text"> The LTO ID you entered ( {{ ltoID }} ) doesn't follow the expected pattern. Try Again!</p>

	{% endif %}
	</div>
</div>
{% endblock %}
