{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>what do you want to do?</h1>
	<!-- 
	<div>
		create a new LTO id for new tapes:
		<a type="button" class="btn btn-info" href="/lto_id">LTO ID</button>
	</div>
	-->

	<div class="card">
		<div class="card-header">		
			<h3>format new LTO tapes</h3>
		</div>
		<div class="card-body">
			<p>If you have inserted new LTO tapes, format them here.<p>
			<a class="btn btn-danger" href="/format_lto">FORMAT LTO</a>
		</div>
	</div>
	<div class="card">
		<div class="card-header">		
			<h3>mount the current, formatted LTO tapes</h3>
		</div>
		<div class="card-body">
			<p>If there are formmated, current tapes in the drives, click here to mount them for writing.</p>
			<p>Once  the process finishes you will see a result screen showing the status and ID of each tape, or any errors that occurred.</p>
			<p><strong>Be patient, this takes a minute!</strong></p>
			<a class="btn btn-info" href="/mount_lto">MOUNT LTO</a>
		</div>
	</div>
	
	<div class="card">
		<div class="card-header">		
			<h3>write AIP packages to mounted LTO tapes</h3>
		</div>
		<div class="card-body">
			<p>After tapes are mounted, go here to choose packages to write to tape.</p>
			<a class="btn btn-info" href="/list_aips">WRITE LTO</a>
		</div>
	</div>
	<div class="card">
                <div class="card-header">
                        <h3>Get Archival Information Packages from a mounted LTO tape</h3>
                </div>
                <div class="card-body">
                        <p>After tapes are mounted, go here to choose packages to get from tape.</p>
                        <a class="btn btn-info" href="/choose_deck">GET DIPs</a>
                </div>
        </div>
	<div class="card">
		<div class="card-header">		
			<h3>unmount LTO tapes</h3>
		</div>
		<div class="card-body">
			<p>If there are tapes mounted that you need to unmount, click this button.<p>
			<a class="btn btn-warning" href="/unmount_lto_status">UNMOUNT LTO</a>
		</div>
	</div>
</div>	
{% endblock %}
