{% extends "base.html" %}

{% block content %}
	<h1>Mount LTO</h1>
	<div>
		<p>The current base LTO ID in use is:<br>
			<b>{{ currentLTOid }}</b>
		</p>
	</div>

	<div>
		Found these formatted tapes:
		{% for letter, barcode in barcodes.items() %}
			<p>{{ letter }} drive: {{ barcode }} </p>
		{% endfor %}
		<p>If for whatever reason the tapes shown above don't match the current LTO ID, you may need to find and reinsert the current tapes.</p>
	</div>

	<form action="{{ url_for('lto.mount_status') }}" method='POST'>
		
		{{ mountForm.hidden_tag() }}
		{{ mountForm.csrf_token }}

		{{ mountForm.submit(class="btn btn-primary") }}
	</form>



{% endblock %}
