{% import "macros.html" as macros %}

{% extends "base.html" %}

{% block content %}
<div class="container my-1">
	<a class="btn btn-primary" href="{{ url_for('ingest.ingest_stuff') }}" role="button">REFRESH PAGE</a>
	<h1>Here are assets ready to ingest:</h1>
	<form action="{{ url_for('ingest.status') }}" method='POST'>
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		
		{% for item,vals in form.suchChoices.items() %}
		<div class ="card border-primary m-1">
			{% for field in vals %}
				{{ macros.render_field(field,vals.targetBase.data) }}
			{% endfor %}
		</div>
		{%endfor%}

	{{ form.submit(class="btn btn-primary my-3") }}
	</form>
</div>
{% endblock %}
