{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content %}
	<div>
		<br/>
		{{ utils.flashed_messages() }}
		<table class="table table-striped">
			<tr>
				<th scope="col"></th>
				<th scope="col">Object name</th>
				<th scope="col">Ingest Notes</th>
				<th scope="col">Warnings</th>
			</tr>
		{% for _object in CurrentIngest.Ingestibles %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>{{ _object.metadata.basename }}</td>
				<td>
					{% for item in _object.ingestMessages %}
						{{ item }}<br/>
					{% endfor %}
				</td>
				{% if not _object.ingestWarnings == [] %}
					<td class="table-danger">
						{% for warning in _object.ingestWarnings %}
							{{ warning }} <br/>
						{% endfor %}
					</td>
				{% else %}
				<td>:)</td>
				{% endif %}
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}
