{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content %}
	<div>
		<br/>
		{{ utils.flashed_messages() }}
		{% if data != "no data" %}
			<table class="table table-striped">
				<tr>
					<th scope="col">Object</th>
					<th scope="col">Object name</th>
					<th scope="col">Ingest Status</th>
				</tr>
			{% for path, details in results.items() %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ details['basename'] }}</td>
					<td>
						{% for item in details['ingestStatus'] %}
							{{ item }}<br/>
						{% endfor %}
						{% if not details['metadata']['hasBAMPFAmetadata'] %}
							Note: did not retrieve metadata from any BAMPFA database (collection or audio)
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</table>
			<!-- <p>{{ user }}</p> -->
		{% endif %}
	</div>
{% endblock %}
