{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}

{% block content %}
	<div>
		<br/>
		{{ utils.flashed_messages() }}
		{% if data != "no data" %}
		<table>
		{% for path, details in results.items() %}
			<tr>
				<th>FILE</th>
				<th>METADATA</th>
			</tr>
			<tr>
				<td>{{ details['basename'] }}</td>
				<td>
					{% for key, value in details['metadata'].items() %}
						{{ key }} : {{ value }} <br>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<!-- <p>{{ user }}</p> -->
		{% endif %}
	</div>
{% endblock %}
