{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Metadata Fields{% endblock %}
{% block content %}
<div class="card">
  <div class="card-body text-center">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
    <h1 style="text-align:center;">Metadata Fields</h1>
    {% if metadata_fields %}
      <hr class="intro-divider">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="15%"> Name </th>
              <th width="40%"> Description </th>
              <th width="15%"> Field Backend Name</th>
              <th width="15%"> Edit </th>
              <th width="15%"> Delete </th>
            </tr>
          </thead>
          <tbody>
          {% for metadata_field in metadata_fields %}
            <tr>
              <td> {{ metadata_field.fieldName }} </td>
              <td> {{ metadata_field.description }} </td>
              <td> {{ metadata_field.fieldUniqueName }} </td>
              <td>
                <a href="{{ url_for('admin.edit_metadata_field', id=metadata_field.id) }}">
                  <i class="fa fa-pencil"></i> Edit 
                </a>
              </td>
              <td>
                <a href="{{ url_for('admin.delete_metadata_field', id=metadata_field.id) }}">
                  <i class="fa fa-trash"></i> Delete 
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h3> No metadata fields have been added. </h3>
        <hr>
    {% endif %}
    <a href="{{ url_for('admin.add_metadata_field') }}" class="btn btn-default btn-lg">
      <i class="fa fa-plus"></i>
      Add Metadata Field
    </a>
  </div>
</div>
{% endblock %}