{% extends "base.html" %}

{% block content %}
	<h1>Format LTO</h1>
	<div>
		<p>The current LTO ID in use is:<br>
			<b>{{ currentLTOid }}</b>
		</p>
	</div>
	<div>
		<p>If you have inserted blank tapes and need to create a new LTO tape ID, do it <a href="{{ url_for('lto.lto_id') }}">here</a>.</p>
	</div>

	<form action="{{ url_for('lto.format_status') }}" method='POST'>
		
		{{ formatForm.hidden_tag() }}
		{{ formatForm.csrf_token }}

		{{ formatForm.submit.label }} {{ formatForm.submit() }}
	</form>



{% endblock %}
