{% extends "base.html" %}

{% block content %}
	<h1>Here are files to ingest:</h1>
	<form "{{url_for('status')}}" method='POST'>
		{{form.hidden_tag()}}
		{{form.csrf_token}}
		{{form.jsonResult}}
		{% for item,vals in form.suchChoices.items() %}
		{{item}}
		{{vals.hidden_tag()}}
		{{vals.csrf_token}}
		<p>{{vals.targetBase.data}}</p>
		<p>{{vals.runIngest()}}</p>
		<p>{{vals.doProres.label}}{{vals.doProres()}}</p>
		<p>{{vals.doConcat.label}} {{vals.doConcat()}}</p>
		<p>{{vals.proresToDave.label}}{{vals.proresToDave()}}</p>
		<p>-----------------</p>
		{%endfor%}

	{{form.submit()}}
	</form>
{% endblock %}