{% extends "base.html" %}

{% block content %}
	<h1>Here are files to ingest:</h1>
	<form action="{{url_for('status')}}" method='POST'>
	<div>
		{% for item,vals in form.choicesDict.items() %}
		<p>{{vals.targetBase.data}}</p>
		<p>{{vals.runIngest()}}</p>
		<p>{{vals.doProres.label}}{{vals.doProres()}}</p>
		<p>{{vals.doConcat.label}} {{vals.doConcat()}}</p>
		<p>{{vals.proresToDave.label}}{{vals.proresToDave()}}</p>
		<p>-----------------</p>
		{%endfor%}	
		
	</div>

	{{form.submit()}}
	</form>
{% endblock %}