{% extends "base.html" %}

{% block content %}
	<h1>{{ title }}</h1>
	<div>
		<p>The current LTO ID in use is:<br>
			<b>{{ currentLTOid }}</b>
		</p>
	</div>
	<div>
		<p>If you have inserted blank tapes and need to create a new LTO tape ID, do it here.<br>
			It has to follow this format:<br>
			6 caracters consisting of year, month, 1-digit tape number, and uppercase "A": YRMO#A<br>
			Example for the 3rd tape set of Septemer 2018: <b>18093A</b><br>
			If we go over 9 LTO sets for a month, start over with uppercase letters (18099A, then 1809AA)
		</p>
	</div>
	<form action="{{ url_for('lto.lto_id_status') }}" method='POST'>
		{{ IDform.hidden_tag() }}
		{{ IDform.csrf_token }}
		
		{{ IDform.tapeAid.label }}{{ IDform.tapeAid() }}

		{{ IDform.submit() }}
	</form>

{% endblock %}
