{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-3">WELCOME TO EDITH</h1>
    <h3 class="lead">let's preserve some stuff!</h3>
</div>
<div class="container">
    <div class="card">
        <div class="list-group list-group-flush">
            <a class="list-group-item" href="{{ url_for('ingest.ingest_stuff') }}">Ingest Stuff</a>
            <a class="list-group-item" href="{{ url_for('lto.lto_menu') }}">LTO Stuff</a>
            <a class="list-group-item" href="{{ url_for('admin.list_departments') }}">Departments</a>
            <a class="list-group-item" href="{{ url_for('admin.list_users') }}">Users</a>
            <a class="list-group-item" href="{{ url_for('admin.list_data_sources') }}">Data Sources</a>
            <a class="list-group-item" href="{{ url_for('admin.list_metadata_fields') }}">Metadata Fields</a>
        </div>
    </div>
<div>

{% endblock %}