{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">WELCOME TO EDITH</h1>
        <h3 class="lead">let's preserve some stuff!</h3>
    </div>
    {% if not current_user.is_authenticated %}
        <div class="card">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    {% else %}
        {% if current_user.is_admin %}
            <div class="card">
                <a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a>
            </div>
        {% else %}
            <div class="card">
                <a href="{{ url_for('home.dashboard') }}">Dashboard</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}